<section class="year-xps">
  <h4>Total XP by day of year</h4>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
          <th>11</th>
          <th>12</th>
          <th>13</th>
          <th>14</th>
          <th>15</th>
          <th>16</th>
          <th>17</th>
          <th>18</th>
          <th>19</th>
          <th>20</th>
          <th>21</th>
          <th>22</th>
          <th>23</th>
          <th>24</th>
          <th>25</th>
          <th>26</th>
          <th>27</th>
          <th>28</th>
          <th>29</th>
          <th>30</th>
          <th>31</th>
        </tr>
      </thead>
      <tbody>
        <%= for {month, doys} <- @day_list do %>
          <tr>
            <td class="month-td">
              <%= Calendar.Strftime.strftime!(Date.new!(0, month, 1), "%b") %>
            </td>
            <%= for doy <- doys do %>
              <%=
                live_component(
                  Components.DayXPsCell,
                  id: "day-xps-cell-#{doy}",
                  xp: Map.get(@days, doy, 0),
                  max_xp: @max,
                  doy: doy
                )
              %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
