<%
  plugin_icon = fn img, editor ->
    render(
      CodeStatsWeb.ComponentsView,
      "picture.html",
      conn: @conn,
      src: "/assets/frontend/images/#{img}",
      alt: "#{editor} logo",
      title: editor,
      class: "plugin-image"
    )
  end
%>

<div class="stripe">
  <h1>
    <%= get_conf(:site_name) %> plugins
  </h1>

  <div class="plugin-icon-list">
    <a href="#atom">
      <img
       class="plugin-image"
       src="<%= Routes.static_path(@conn, "/assets/frontend/images/atom-logo.svg") %>"
       title="Atom editor"
       alt="Atom editor logo"
      />
    </a>
    <a href="#browsers">
      <%= plugin_icon.("code-stats-browser-logo.png", "Browsers") %>
    </a>
    <a href="#jetbrains">
      <img
       class="plugin-image"
       src="<%= Routes.static_path(@conn, "/assets/frontend/images/jetbrains-logo.svg") %>"
       title="JetBrains"
       alt="JetBrains logo"
      />
    </a>
    <a href="#lazarus">
      <%= plugin_icon.("lazarus-logo.png", "Lazarus IDE") %>
    </a>
    <a href="#st3">
      <%= plugin_icon.("sublime-logo.png", "Sublime Text") %>
    </a>
    <a href="#vim">
      <%= plugin_icon.("vim-logo.gif", "Vim") %>
    </a>
    <a href="#vb6">
      <%= plugin_icon.("vb6icon_cropped_transparent.png", "Visual Basic 6.0") %>
    </a>
    <a href="#vs">
      <img
       class="plugin-image"
       src="<%= Routes.static_path(@conn, "/assets/frontend/images/vs-logo.svg") %>"
       title="Visual Studio"
       alt="Visual Studio logo"
      />
    </a>
    <a href="#vscode">
      <%= plugin_icon.("vscode-logo.png", "Visual Studio Code") %>
    </a>
    <a href="#zsh">
      <%= plugin_icon.("zsh-logo.png", "Zsh") %>
    </a>
  </div>

  <h2>A note about the functionality of the plugins</h2>

  <p>
    The plugins work by listening to your editor's text changes and detecting the syntax used. If you are having problems with XP registering to the wrong language, you may need to install an appropriate language support package for your editor. <%= get_conf(:site_name) %> relies on the editor to detect the proper language.
  </p>

  <p>
    Note that <em>at no point is any of your code sent to <%= get_conf(:site_name) %></em>. Only the amounts of XP (roughly the amount of keystrokes) are sent. For further information, check the <a href="<%= Routes.page_path(@conn, :api_docs) %>">API documentation</a> and the source code of the plugins.
  </p>

  <hr />

  <div class="plugin">
    <h2 id="atom">Atom</h2>

    <div class="plugin-description">
      <p>
        To install, use Atom's builtin package search to search for <code>code-stats-atom</code> and install the package. Then go to the package's settings page and insert the API key of the machine you want.
      </p>

      <p>
        <a target="_blank" href="https://atom.io/packages/code-stats-atom">Link to the plugin on Atom's site.</a>
      </p>
    </div>

    <img
     class="plugin-image"
     src="<%= Routes.static_path(@conn, "/assets/frontend/images/atom-logo.svg") %>"
     title="Atom editor"
     alt="Atom editor logo"
    />
  </div>

  <div class="plugin">
    <h2 id="browsers">Browsers (Chrome, Edge, Firefox)</h2>

    <div class="plugin-description">
      <p>
        To install, find the correct extension for your browser from the list below. Then insert your API key into the extension settings, after clicking on the "C::S" extension button.
      </p>

      <p>
        <ul>
          <li><strong>Chrome / Edge:</strong> Install from <a target="_blank" href="https://chrome.google.com/webstore/detail/code-stats-chrome-extensi/ljecglgmlhpjalfccaojplcidlmaochd">Chrome Web Store</a>.</li>
          <li><strong>Firefox:</strong> Install from <a target="_blank" href="https://addons.mozilla.org/en/firefox/addon/code-stats-extension/?src=search">Firefox Add-ons store</a>.</li>
        </ul>
      </p>

      <p>
        <a target="_blank" href="https://gitlab.com/code-stats/code-stats-browser">Link to the repository on GitLab.</a>
      </p>

      <p>
        <em>Thanks to Finn Dohrn (bitnulleins) for the browser extensions.</em>
      </p>
    </div>

    <%= plugin_icon.("code-stats-browser-logo.png", "Browsers") %>
  </div>

  <div class="plugin">
    <h2 id="jetbrains">JetBrains IDEs</h2>

    <div class="plugin-description">
      <p>
        To install, use the IDE's builtin package manager, click on "Browse repositories…" and search for <code>Code::Stats</code> or <code>CodeStats</code>. After installation, go to Settings → Other Settings → Code::Stats and insert your API key.
      </p>

      <p>
        <a target="_blank" href="https://plugins.jetbrains.com/plugin/8393?pr=">Link to the plugin on JetBrain's site.</a>
      </p>

      <p>
        <strong>Note:</strong>
        If the plugin fails to send XP, reporting <code>C::S ERR!</code>, hover over the status bar text to see the actual exception. If it complains of a PKIX error, you may need to install the <a href="https://www.identrust.com/certificates/trustid/root-download-x3.html">DST Root CA X3</a> to the IDE's JRE's trust store manually. The command to do that goes roughly like this on macOS:
      </p>

      <pre><kbd>$ cd /Applications/&lt;IDE&gt;.app/Contents/jre/jdk/Contents/Home/jre
$ bin/keytool -import -alias 'DST Root CA X3' -keystore lib/security/cacerts -trustcacerts -file /path/to/dst_root_ca_x3.pem</kbd></pre>
    </div>

    <img
     class="plugin-image"
     src="<%= Routes.static_path(@conn, "/assets/frontend/images/jetbrains-logo.svg") %>"
     title="JetBrains"
     alt="JetBrains logo"
    />
  </div>

  <div class="plugin">
    <h2 id="lazarus">Lazarus IDE</h2>

    <div class="plugin-description">
      <p>
        You can find the plugin in Lazarus IDE's Online Package Manager by searching for <code>CodeStats</code>.
      </p>

      <p>
        You can find further installation and setup instructions <a target="_blank" href="https://github.com/maico-smaniotto/codestats-pkg-lazarus">in the project's GitHub repository</a>.
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="https://github.com/maico-smaniotto">Maico Smaniotto</a> for the Lazarus IDE extension.</em>
      </p>
    </div>

    <%= plugin_icon.("lazarus-logo.png", "Lazarus IDE") %>
  </div>

  <div class="plugin">
    <h2 id="st3">Sublime Text 3</h2>

    <div class="plugin-description">
      <p>
        To install, first setup <a href="https://packagecontrol.io/">Package Control</a> and then use it to install package <code>CodeStats</code>. Then open the package settings and configure the API key.
      </p>

      <p>
        <a target="_blank" href="https://packagecontrol.io/packages/CodeStats">Link to the plugin on Package Control's site.</a>
      </p>
    </div>

    <%= plugin_icon.("sublime-logo.png", "Sublime Text") %>
  </div>

  <div class="plugin">
    <h2 id="vim">Vim</h2>

    <div class="plugin-description">
      <p>
        You can find installation and setup instructions <a target="_blank" href="https://gitlab.com/code-stats/code-stats-vim">in the project's GitLab repository</a>.
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="https://github.com/dancek">Hannu Hartikainen</a> and Antti Keränen for the Vim extension.</em>
      </p>
    </div>

    <%= plugin_icon.("vim-logo.gif", "Vim") %>
  </div>

  <div class="plugin">
    <h2 id="vb6">Visual Basic 6.0</h2>

    <div class="plugin-description">
      <p>
        To install, see instructions on plugin's webpage. <a target="_blank" href="https://bitbucket.org/Koohiisan/code-stats-vb6-add-in">Link to the plugin on Bitbucket.</a>
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="https://www.lukegerhardt.com/">Luke Gerhardt</a> for the VB6 extension.</em>
      </p>
    </div>

    <%= plugin_icon.("vb6icon_cropped_transparent.png", "Visual Basic 6.0") %>
  </div>

  <div class="plugin">
    <h2 id="vs">Visual Studio</h2>

    <div class="plugin-description">
      <p>
        To install, download the proper extension from the Visual Studio Marketplace. and run the installer. After installation, go to Extras → Options → CodeStats and insert your API key.
      </p>

      <p>
        <ul>
          <li>For VS2022: <a href="https://marketplace.visualstudio.com/items?itemName=ScratchCat.CodeStatsForVS">https://marketplace.visualstudio.com/items?itemName=ScratchCat.CodeStatsForVS</a></li>
          <li>For older versions: <a href="https://marketplace.visualstudio.com/items?itemName=MathiasSTorm.CodeStatsClient">https://marketplace.visualstudio.com/items?itemName=MathiasSTorm.CodeStatsClient</a></li>
        </ul>
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="https://github.com/mastorm">Mathias Storm</a> and <a target="_blank" href="https://github.com/AlaiyaNetwork">
Andrey Belov</a> for the Visual Studio extensions.</em>
      </p>
    </div>

    <img
     class="plugin-image"
     src="<%= Routes.static_path(@conn, "/assets/frontend/images/vs-logo.svg") %>"
     title="Visual Studio"
     alt="Visual Studio logo"
    />
  </div>

  <div class="plugin">
    <h2 id="vscode">Visual Studio Code</h2>

    <div class="plugin-description">
      <p>
        To install, use the editor's extension manager and search for <code>CodeStats</code>. After installating the extension and reloading the editor, set the <code>codestats.apikey</code> setting to your API key.
      </p>

      <p>
        <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=riussi.code-stats-vscode">Link to the plugin in the Visual Studio Marketplace.</a>
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="http://www.juharistolainen.com/">Juha Ristolainen</a> for the VSCode extension.</em>
      </p>
    </div>

    <%= plugin_icon.("vscode-logo.png", "Visual Studio Code") %>
  </div>

  <div class="plugin">
    <h2 id="zsh">Zsh</h2>

    <div class="plugin-description">
      <p>
        You can find installation and setup instructions <a target="_blank" href="https://gitlab.com/code-stats/code-stats-zsh">in the project's GitLab repository</a>.
      </p>

      <p>
        <em>Thanks to <a target="_blank" href="https://github.com/dancek">Hannu Hartikainen</a> for the Zsh extension.</em>
      </p>
    </div>

    <%= plugin_icon.("zsh-logo.png", "Zsh") %>
  </div>

  <div class="media">
    <div class="media-body">
      <h2 class="media-heading">Other editors</h2>

      <p>
        If there is no plugin for your favourite editor, you can check out the <a href="<%= Routes.page_path(@conn, :api_docs) %>">API docs</a> and implement one yourself. If you do, please let us know so we can add a link to it here!
      </p>
    </div>

    <hr />

    <p>
      <em>
        All logos are the intellectual property and possible trademarks of their respective owners. The Atom editor logo is licensed under the MIT licence. The JetBrains logo is used with permission from JetBrains s.r.o. The Notepad++ logo (© Dan Ho) is licensed under CC-BY-SA 3.0. It is believed that the rest of the logos are used according to the fair use rules of Finnish law.
      </em>
    </p>
  </div>
</div>
